    <div class="container-fluid rodape">
    	<div class="container">
        	<div class="row">
                <div class="col-md-12">
                    <div class="col-md-10 col-md-offset-1">
                    	<img src="/client/img/logo_rodape.png" alt="logo guilhermegomes" />
                        <ul class="menurodape">
                        	<li><a href="#">Home</a></li>
                            <li>/</li>
                            <li><a href="#projetos">Projetos</a></li>
                            <li>/</li>
                            <li><a href="#">Curriculum</a></li>
                            <li>/</li>
                            <li><a href="#">Blog</a></li>
                            <li>/</li>
                            <li><a href="#">Github</a></li>
                            <li>/</li>
                            <li><a href="#">Contato</a></li>
                        </ul>
					</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
