		<div class="row linha">
        	<div class="col-md-10 col-md-offset-1 col-xs-12">
            	<hr />
            </div>
        </div>
	</div>
	
	<div class="container-fluid quaserodape"><a name ="contato"></a>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-8 col-md-offset-3 text-center">
                        <img src="/client/img/foto-perfil.png" alt="Foto guilherme" class="fotoperfil" />
                        <p class="nome">Guilherme Gomes</p>
                        <div class="redesociais">
                            <a href="#" class="facebook"><img src="/client/img/facebook.png" alt="facebook" /></a>
                            <a href="#" class="linkedin"><img src="/client/img/linkedin.png" alt="linkedin" /></a>
                            <a href="#" class="twitter"><img src="/client/img/twitter.png" alt="twitter" /></a>
                            <a href="#" class="whatsapp"><img src="/client/img/whatsapp.png" alt="whatsapp" /></a>
                        </div>
					</div>
                </div>
                <div class="col-md-7">
                	<h3 style="margin-bottom:40px;">Let&rsquo;s create something together!</h3>
                    <form>
						<div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Nome">
                            </div>
                            <div class="col-md-4">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <textarea class="form-control" rows="6" placeholder="Mensagem"></textarea>
								<button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
					</form>
                </div>
            </div>
    	</div>
    </div>
    <div class="container-fluid rodape">
    	<div class="container">
        	<div class="row">
                <div class="col-md-12">
                    <div class="col-md-10 col-md-offset-1">
                    	<img src="/client/img/logo_rodape.png" alt="logo guilhermegomes" />
                        <ul class="menurodape">
                        	<li><a href="#">Home</a></li>
                            <li>/</li>
                            <li><a href="#projetos">Projetos</a></li>
                            <li>/</li>
                            <li><a href="#">Curriculum</a></li>
                            <li>/</li>
                            <li><a href="#">Blog</a></li>
                            <li>/</li>
                            <li><a href="#">Github</a></li>
                            <li>/</li>
                            <li><a href="#">Contato</a></li>
                        </ul>
					</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
