<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><% if (pageTitle) { %><%= pageTitle %> - <% } %>GuilhermeGomes</title>
<!-- Latest compiled and minified CSS -->
<link href="/client/css/bootstrap.css" rel="stylesheet">
<link href="/client/css/style.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/client/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>

<script>
var app = angular.module('ggomesApp', ['ngAnimate']);
app.controller('ggomesCtrl',function($scope,$http,$interval,$animate) {
	$scope.showMenu=false;
});
app.directive('g2Scroll', function($window) {
	return function(scope, elements, attrs) {
		<% if(fadeMenu) { %>
		angular.element($window).bind('scroll', function() {
			scope.showMenu = this.pageYOffset >= 100;
			scope.$apply();
		});
		<% } else { %>
		scope.showMenu = true;
		<% } %>
	};
});
</script>
</head>

<body ng-app="ggomesApp"><a name ="home"></a>
	<% if(!fadeMenu) { %>
	<div class="behindMenuBlock"></div>
	<% } %>
	<nav class="navbar navbar-fixed-top fademenu" ng-show="showMenu" ng-controller="ggomesCtrl" g2-scroll>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#g2menu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="/client/img/logo_menu.png" alt="Logo GuilhermeGomes"/></a>
			</div>
			<div class="collapse navbar-collapse" id="g2menu">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="/">Home</a></li>
					<!--li><a href="/#projetos">Projetos</a></li>
					<li><a href="#">Curriculum</a></li-->
					<li><a href="/blog">Blog</a></li>
					<li><a href="/#contato">Contato</a></li>
				</ul>
			</div>
		</div>
	</nav>